<div class="sbcContainer">
    <section class="sbcInputContainer">
        <div class="sbcHeader">
            <div>
                Enter the Statblock you want to convert to an actor
            </div>
            <div style="font-size: 8pt;">
                Disclaimer: This converter is not perfect, so please check the output carefully. For Bugs and Issues please visit my <a href="https://github.com/Lavaeolous/PF1-StatBlock-Converter-Module/issues" target="_blank">Github</a>.
            </div>
        </div>
        <div class="sbcTitle">Input</div>
        <div class="sbcInputArea">
            <div id="sbcBackdrop">
                <div id="sbcHighlights" class="sbcHighlights">
                </div>
            </div>
            <textarea class="sbcInput" id="sbcInput" form="statBlockInputForm" placeholder="
Usage:
- Copy &amp; Paste Statblocks into this field, you can edit the statblock after copying.
- Errors, warnings and information will be shown below to help you identify potential errors in the statblock.
- If you use multiple custom compendia, loading times may get very long.

Please note:
- Statblocks copied from PDF-files often include additional linebreaks, manual hyphens and other typographical errors.

Roadmap:
- Spells and spell-related info currently do not get parsed. This is slated for release 3.2.x of sbc." wrap="hard" cols="1"></textarea>
        </div>
    </section>
    <section class="sbcPreviewContainer">
        <div class="sbcHeader sbcButtons">
            <div class="actorTypeToggle"><span class="sbcActive"></span>
                <div class="actorTypeToggle-case npc">NPC</div>
                <div class="actorTypeToggle-case pc">PC</div>
            </div>
            <div id="sbcImportButton">
                <div class="sbcImportButton-case">IMPORT</div>
            </div>
            <div id="sbcResetButton">
                <div class="sbcResetButton-case">RESET</div>
            </div>
        </div>
        <div class="sbcTitle">Preview</div>
        <div class="sbcPreview" id="sbcPreview">
        </div>
    </section>
</div>
<section class="sbcErrorContainer">
    <div class="sbcErrorTitle"></div>
    <div id="sbcErrors">
        
    </div>
</section>